# pyproject.toml
[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm>=6.2"]
build-backend = "setuptools.build_meta"

[tool.setuptools_scm]
write_to = "npe2/_version.py"

[tool.check-manifest]
ignore = [
    "npe2/_version.py",
    ".pre-commit-config.yaml",
    ".github_changelog_generator",
]

[tool.pytest.ini_options]
filterwarnings = ["error:::npe2"]
addopts = "-m 'not github_main_only'"
markers = [
    "github_main_only: Test to run only on github main (verify it does not break latest napari docs build)",
]

[tool.black]
target-version = ['py38', 'py39', 'py310']
line-length = 88

# https://github.com/charliermarsh/ruff
[tool.ruff]
line-length = 88
target-version = "py38"
src = ["npe2", "tests"]
select = [
    "E", "F", "W", #flake8
    "UP", # pyupgrade
    "I", # isort
    "B", # flake8-bugbear
    "C4", # flake8-comprehensions
    "TID",  # flake8-tidy-imports
    "RUF",  # ruff-specific rules
]

[tool.ruff.per-file-ignores]
"npe2/cli.py" = ["B008","A00"]

[tool.ruff.pyupgrade]
# Preserve types, even if a file imports `from __future__ import annotations`.
keep-runtime-typing = true
