(sample_data-contribution-guide)=
## Sample Data

Prose about sample data...

### Sample Data example

````{tabbed} npe2
**python implementation**

```python
# example_plugin.some_module
{{ 'sample_data'|example_implementation }}
```

**manifest**

See [Sample Data contribution reference](./contributions.html#contributions-sample-data)
for field details.

```yaml
{{ 'sample_data'|example_contribution }}
```
````

````{tabbed} napari-plugin-engine
**python implementation**

[link to old hook specificiation]()

```python
from napari_plugin_engine import napari_hook_implementation

```
````
