(writer-contribution-guide)=
## Widgets

Prose about widgets...

### Widget example

````{tabbed} npe2
**python implementation**

```python
# example_plugin.some_module
{{ 'widgets'|example_implementation }}
```

**manifest**

See [Widgets contribution reference](./contributions.html#contributions-widgets)
for field details.

```yaml
{{ 'widgets'|example_contribution }}
```
````

````{tabbed} napari-plugin-engine
**python implementation**

[link to old hook specificiation]()

```python
from napari_plugin_engine import napari_hook_implementation

```
````
