(writer-contribution-guide)=
## Writers

Prose about writers...

### Writer example

````{tabbed} npe2
**python implementation**

```python
# example_plugin.some_module
{{ 'writers'|example_implementation }}
```

**manifest**

See [Writers contribution reference](./contributions.html#contributions-writers)
for field details.

```yaml
{{ 'writers'|example_contribution }}
```
````

````{tabbed} napari-plugin-engine
**python implementation**

[link to old hook specificiation]()

```python
from napari_plugin_engine import napari_hook_implementation

```
````
