# Guides

This page provides guides on many of the plugin contribution patterns.
Each provides a general overview of the purpose of the contribution and
an example implementation. For details on the type and meaning of each
field in a specific contribution, See the
[contributions reference](./contributions)


{% include '_readers_guide.md.jinja' %}
----------------
{% include '_writers_guide.md.jinja' %}
----------------
{% include '_widgets_guide.md.jinja' %}
----------------
{% include '_sample_data_guide.md.jinja' %}
----------------
{% include '_layer_data_guide.md.jinja' %}
