# Contributions

**Contributions** are a set of static declarations that you make in the `contributions` field of the [Plugin Manifest](). Your extension registers **Contributions** to extend various functionalities within napari. Here is a list of all available **Contributions**:

{% for contrib in contributions -%}
- [`{{ contrib.name }}`](#contributions.{{ contrib.name }})
{% endfor %}

{%- for contrib in contributions%}
## contributions.{{contrib.name}}

{{ contrib.doc }}

### Fields
{% for field in contrib.fields%}
- **`{{contrib.name}}.{{field.name}}`** : {% if not field.required -%}*(Optional: default={{field.get_default()}}).* {% endif %}
{{- field.field_info.description -}}
{% endfor %}

### {{contrib.name.title()}} example

```yaml
{{contrib.example}}
```

{% endfor %}
