name: Test Plugin Conversion

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  get-plugins:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}
      - id: plugin_names
        run: echo "::set-output name=plugins::$(curl -s https://api.napari-hub.org/plugins | jq -c 'keys')"
    outputs:
      plugins: ${{ steps.plugin_names.outputs.plugins }}

  convert:
    needs: get-plugins
    name: convert ${{ matrix.plugin }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        plugin: ${{ fromJson(needs.get-plugins.outputs.plugins) }}

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          pip install -U pip
          # just in case... we ask them not to depend on this or Pyside
          # since it's up to the enduser to have with napari
          pip install PyQt5
          pip install -e .

      - name: Install ${{ matrix.plugin }}
        run: pip install ${{ matrix.plugin }}

      - name: Test Conversion
        run: npe2 convert ${{ matrix.plugin }}
