name: Update Changelog
on:
  workflow_dispatch:
    inputs:
      next_tag:
        description: "Next version tag (`vX.Y.Z`)"
        required: true

jobs:
  changelog:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: "✏️ Generate release changelog"
        uses: heinrichreimer/github-changelog-generator-action@v2.3
        with:
          futureRelease: ${{ github.event.inputs.next_tag }}
          token: ${{ secrets.GITHUB_TOKEN }}
          repo: napari/npe2
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: Automatic changelog update
          title: changelog ${{ github.event.inputs.next_tag }}
          branch: update-changelog
